.form-input {
    --padding-start: 20px;
    --padding-top: 20px;
    --padding-bottom: 10px;
    --padding-end: 10;
    font-size: 22px;
    text-align: center;
    border-color: #403E39;
    border-width: thin;
    border-style: inset;
    border-radius: 1px;
    margin-top: 3px;
    margin-bottom: 3px;
}